@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.664), rgba(0, 0, 0, 0.644)),
        url(./img/shiva.jpg) no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Poppins',
        sans-serif;
    margin: 0;
    line-height: 1rem;
}

.countdown-container {
    display: flex;
}

.countdown-el {
    text-align: center;
    margin: 0 3rem;
}

h1 {
    font-size: 4rem;
    margin-top: -8rem;
    margin-bottom: 10rem;
}

.b-text {
    font-size: 4rem;
}

.countdown-el span {
    font-size: 1.5rem;
}

/* small (sm) devices (landscape phone, 576px and up)*/
@media (max-width: 476px) { 
    .countdown-container {
        display: flex;
    }

    .countdown-el {
        margin: 0 .9rem;
    }

    h1 {
        font-size: .89rem;
        
       
    }

    .b-text {
        font-size: .9rem;
    }

    .countdown-el span {
        font-size: .9rem;
    }
}
